[submodule "stenella"]
	path = stenella
	url = https://github.com/azzurrotech/stenella.git
[submodule "song"]
	path = song
	url = https://github.com/azzurrotech/song.git
[submodule "shepherd"]
	path = shepherd
	url = https://github.com/azzurrotech/shepherd.git
[submodule "pod"]
	path = pod
	url = https://github.com/azzurrotech/pod.git
[submodule "atp"]
	path = atp
	url = https://github.com/azzurrotech/atp.git
[submodule "vini"]
	path = vini
	url = https://github.com/emperor42/vini.git
[submodule "veni"]
	path = veni
	url = https://github.com/emperor42/veni.git
[submodule "vidi"]
	path = vidi
	url = https://github.com/emperor42/vidi.git
[submodule "vici"]
	path = vici
	url = https://github.com/emperor42/vici.git
